.page-footer {
  padding-top: 20px;
  color: $color-black;
  background-color: $color-white;
}

.footer-social {
  margin: 0 2em 1em 2em;
  padding: 0;
  border-bottom: 2px solid $color-grey-light;
  border-top: 2px solid $color-grey-light;

  @media #{$small-and-down} {
    justify-content: center;
  }

  .fl-subscribe-form-inline {
    position: relative;
    top: 3px;
    width: 400px;

    @media #{$small-and-down} {
      width: 300px;
    }
  }

  .footer-social-right {
    height: 100px;

    @media #{$small-and-down} {
      height: auto;
      width: 50%;
      justify-content: flex-start;

      .fl-builder-module-template {
        padding: 0;

        .fl-module-content {
          margin-top: 0;
        }
      }
    }
    @media #{$xsmall-and-down} {
      width: 100%;
    }
  }
}

.footer-main {
  background: $color-grey-dark;
  color: $color-white;
  margin: 0;
  padding: 2em 2em;

  .footer-col {
    &-left {
      text-align: center;
      padding-top: 1.5em;

      img {
        width: 200px;
      }
    }
  }

  a {
    color: $color-white;
  }

  .widget_text {
    img {
      height: 30px;
      width: auto;
      margin-bottom: 5px;
    }

    &.text-3 img {
      height: 20px;
      width: auto;
      position: relative;
      top: 10px;
      padding-right: 10px;
    }
  }
}

.footer-utility {
  background: $color-black;
  color: $color-white;
  padding: 0.5em 2em;
  margin: 0;
  font-size: 14px;

  img {
    height: 40px;
    width: auto;
  }

  .copyright {
    font-size: 14px;
  }

  .footer-utility-right {
    @media #{$small-and-down} {
      justify-content: flex-start;
    }
  }

  li {
    display: inline-block;

    &::before {
      content: "| ";
      color: $color-white;
      padding: 0 3px;
    }

    &:first-of-type::before {
      content: "";
    }

    &:last-of-type {
      padding-right: 1.5em;
    }

    a {
      color: $color-white;
      font-weight: normal;
      text-decoration: none;
    }
  }
}
