.footer-social {
  background: $color-white;

  .footer-content {
    color: $color-black;
    margin: 0 2em 1em 2em;
    padding: 0;
    border-bottom: 2px solid $color-grey-light;
    border-top: 2px solid $color-grey-light;
  }
}
