.homepage-hero {
  .fl-row-content-wrap {
    height: 85vh;
  }
}

.homepage-cta-row {
  background: #EDEDED;

  .bb_boot_card_container {
    position: relative;
    bottom: 175px;
    background: rgba($color-white, 0.8);

    .bb_boot_card_title {
      height: 100px;
    }

    .bb_boot_card_text {
      height: 150px;
    }
  }
}

.about-boxyard {
  h3 {
    margin: 0;
  }
}
