// Homepage Hero
.homepage-hero {
  .fl-row-content-wrap {
    height: 450px;

    @media #{$medium-and-down} {
      height: 400px;
      padding-top: 60vh;
    }
  }
}

// Homepage 3 column CTA row
.homepage-cta-row {
  background: #EDEDED;

  .bb_boot_card_block {
    padding-top: 0;
  }

  .bb_boot_card_container {
    min-height: 375px;
    position: relative;
    bottom: 125px;
    background: rgba($color-white, 0.8);

    @media #{$small-and-down} {
      bottom: 0;
    }

    .bb_boot_card_title {
      height: auto;
    }

    .bb_boot_card_text {
      height: auto;
      margin-top: 10px;
      vertical-align: top;
    }
  }
}

//// Homepage Button- Inquire Now
// .inquire-container {
//   position: relative;
//
//   @media #{$small-and-down} {
//     margin-bottom: 100px;
//   }
//
//   .inquire {
//     position: absolute;
//     padding: 10px 2.5em;
//     bottom: -25px;
//     right: -116px;
//
//     @media #{$medium-and-down} {
//       right: -55px;
//     }
//     @media #{$small-and-down} {
//       right: -10px;
//     }
//   }
// }

.about-boxyard {
  h3 {
    margin: 0;
  }
}
