.homepage-hero {
  .fl-row-content-wrap {
    height: 85vh;

    @media #{$medium-and-down} {
      padding-top: 40vh;
    }
  }
}

.homepage-cta-row {
  background: #EDEDED;

  .bb_boot_card_container {
    position: relative;
    bottom: 175px;
    background: rgba($color-white, 0.8);

    .bb_boot_card_title {
      height: 100px;

      @media #{$medium-and-down} {
        height: auto;
      }
    }

    .bb_boot_card_text {
      height: 150px;

      @media #{$small-and-down} {
        height: auto;
      }
    }
  }
}

.about-boxyard {
  h3 {
    margin: 0;
  }
}
