body {
  font-family: Helvetica, Arial, sans-serif;
}

.container-wide {
  max-width: 1350px;
  margin: 0 aut0;
}

.page .main {
  margin-bottom: 0;
}

.flex-end {
  justify-content: flex-end;
}

.flex-grow {
  flex: 1;
}
