h1 {
  color: $color-black;
  font-size: 65px;
}

h2 {
  font-size: 47px;
  color: $color-red;
}

h4 {
  font-size: 35px;
}

.knockout {
  background-color: hsl(0, 0%, 100%);
  mix-blend-mode: screen;
  width: auto;
  display: inline-block;
}
