// Colors
$color-white:                 #FFF;
$color-black:                 #000;
$color-grey-dark:             #2D2D2D;
$color-grey-light:            #A4A9AC;
$color-blue:                  #003B48;
$color-red:                   #E53D2F;
$color-burntorange:           #AD4525;
