.fl-subscribe-form-inline {
  input {
    height: auto !important;
    padding: 10px 0 !important;
    border-radius: 2px !important;
  }

  .fl-button {
    @extend .btn-primary;

    border-radius: 2px !important;
    background: $color-blue !important;
    border: 2px solid $color-blue !important;

    .fl-button-text {
      color: $color-white !important;
      font-weight: 700 !important;
    }
  }

  .fl-form-button {
    float: left;
    width: 33.33%;
  }
}

.search-form::after {
  display: none;
}
