// General Form Textarea
textarea {
  height: 10em !important;
}

// General Form Label Columns
.form-col {
	display: flex;

  p {
    width: 50%;

    &:nth-of-type(1) {
      margin-right: 10px;
    }
  }
}

// Email Subscribe Form
.fl-subscribe-form-inline {
  input {
    height: auto !important;
    padding: 10px 0 !important;
    border-radius: 2px !important;
  }

  .fl-button {
    @extend .btn-primary;

    border-radius: 2px !important;
    background: $color-blue !important;
    border: 2px solid $color-blue !important;

    .fl-button-text {
      color: $color-white !important;
      font-weight: 700 !important;
    }
  }
}

// Search Field Input
.search-form::after {
  display: none;
}

// Subscribe Footer Form
.footer-social .fl-subscribe-form-inline .fl-form-button {
  float: left;
  width: 34.33%;
}

.footer-social .fl-subscribe-form-inline.fl-subscribe-form-name-hide .fl-form-field {
  width: 64.66%;
  float: left;
  padding-right: 10px;
  margin: 0;
}

.fl-node-5c2526dd88731 .fl-subscribe-form .fl-form-field input {
  background: white;
}

@media (max-width: 767px) {
  .fl-subscribe-form a.fl-button {
    padding: 10px 0 !important;
  }
}
